@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    @apply text-gray-800;
    scroll-behavior: smooth;
  }
  
  .bg-clip-text {
    -webkit-background-clip: text;
    background-clip: text;
  }

  .highlight {
    background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=ffff60);
  }

  .highlight-pen {
    @apply bg-yellow-300 absolute h-[16px] sm:h-[28px] right-0 bottom-2 sm:bottom-3 -right-4 rounded-md;
  }

  .global-px {
    @apply px-4;
  }

  .layout {
    @apply w-full max-w-screen-lg mx-auto global-px;
  }

  .inner-shadow {
    box-shadow: inset 0 0 1px 0 rgb(0 0 0 / 0.3);
  }

  .header-inner-shadow {
    box-shadow: inset 0 0 1px 0 rgb(0 0 0 / 0.1);
  }

  .guest-form-inner-shadow {
    box-shadow: inset 0 0 1px 0 rgb(245 158 11 / 0.48);
  }

  .section-layout {
    @apply py-40;
  }

  .skill-label {
    @apply mt-10 text-xl font-semibold;
  }

  .skill-box {
    @apply bg-white flex flex-row flex-wrap gap-8 p-4 sm:p-8 rounded-lg inner-shadow mt-3 font-semibold text-gray-500 items-center justify-center;
  }

  .section-header {
    @apply text-4xl sm:text-6xl font-bold select-none;
  }

  .icon-button-style {
    @apply transition-all hover:text-gray-400 active:scale-95 py-1 px-1;
  }

  nav > ul > li {
    @apply font-semibold text-gray-700 cursor-pointer transition-all hover:text-gray-400 active:scale-95;
  }
  nav > ul > .--selected {
    @apply text-amber-500 hover:text-amber-300;
  }

  .input-style {
    @apply px-3 py-2 rounded-sm outline-none transition-all border-2 border-transparent focus:border-amber-200;
  }

  form > input {
    @apply input-style;
  }

  form > textarea {
    @apply input-style resize-none;
  }

  form > input[type="submit"] {
    @apply cursor-pointer bg-amber-200 text-amber-500 font-semibold text-lg transition-all hover:bg-amber-100 active:scale-95 focus:border-amber-400;
  }
}
